[submodule "services/frontend"]
	path = services/frontend
	url = git@github.com:dioptra-ai/frontend.git
[submodule "services/ingestion"]
	path = services/ingestion
	url = git@github.com:dioptra-ai/ingestion.git
[submodule "services/analytics"]
	path = services/analytics
	url = git@github.com:dioptra-ai/analytics.git
